
.footer{
    color:map-get($estilos, color_other);
    background-color: map-get($estilos, color_title);
    width: 100%;
    text-align: map-get($estilos, centro);
    padding-top: 10px;
    padding-bottom: 15px;
    bottom: 0;    
}